* {
    box-sizing: border-box;
}

#header-nav {
    border: 0;
    border-radius: 0;                
    background-color: #e5e5e5;
}

.navbar-brand h2{                                            
    font-size: 32px;
    font-family: "Gochi Hand";
    color: black;
    margin-top: 0;                
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid white;
}

#nav-list {    
    font-family: 'Patrick Hand SC', cursive;
    font-size: 20px;
    margin-top: 5px;
}

#nav-list a#tab-chicken:hover {
    background-color: antiquewhite;
}

#nav-list a#tab-beef:hover {
    background-color: burlywood;
}

#nav-list a#tab-sushi:hover {
    background-color:#ffa07a;
}

h1 { 
    font-family: 'Patrick Hand SC', cursive;
    font-size: 40px;
}

.row {
    margin: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 10px 30px;
}

.section {               
    margin: 15px;
    border: 1px black;
    border-radius: 20px;
    float: left;  
}

#chicken-section {
    background-color: antiquewhite;
}

#beef-section {
    background-color: burlywood;
}

#sushi-section {
    background-color:#ffa07a;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    text-decoration: underline;
}

.section p a {
    font-style: italic;                
}

.col-md-4, .col-md-12, .col-sm-6, .col-sm-12, .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

            
